.label {
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.closeIcon {
  position: relative;
  border-radius: var(--br-5xs);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.labelParent {
  align-self: stretch;
  background-color: var(--character-primaryinverse);
  box-shadow: var(--line-light-bottom);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-5xl);
  gap: var(--gap-21xl);
  font-size: var(--body-l-18-sp-semibold-18-size);
}
.label1 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.outlineSearch {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
}
.label2 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.pointer {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--colors-blue-100-opacity);
  width: 2px;
  height: 20px;
  display: none;
}
.labelPointer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.outlineClose {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.input1 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--character-primaryinverse);
  border: 1px solid var(--line);
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  gap: var(--gap-5xs);
  color: var(--label);
}
.input {
  flex: 1;
  flex-direction: column;
}
.input,
.input2,
.inputParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.input2 {
  width: 240px;
  flex-direction: column;
}
.inputParent {
  align-self: stretch;
  flex-direction: row;
}
.outlineSearch2 {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
}
.label6 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.placeholderIcons {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.keyboardArrowDownIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.dropdown,
.icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.dropdown {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--character-primaryinverse);
  border: 1px solid var(--line);
  box-sizing: border-box;
  height: 40px;
  align-items: center;
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-xs);
  color: var(--colors-grey-grey-3);
}
.fillCheckmark {
  position: relative;
  border-radius: var(--br-5xs);
  width: 16px;
  height: 16px;
}
.listElement {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--colors-grey-grey-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-base);
  color: var(--primary);
}
.label8,
.outlineFile {
  position: relative;
  height: 24px;
}
.outlineFile {
  border-radius: var(--br-5xs);
  width: 24px;
  display: none;
}
.label8 {
  flex: 1;
  line-height: 140%;
  display: flex;
  align-items: center;
}
.fillCheckmark1,
.listElement1 {
  border-radius: var(--br-5xs);
  display: none;
}
.fillCheckmark1 {
  position: relative;
  width: 16px;
  height: 16px;
}
.listElement1 {
  align-self: stretch;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.label9,
.listElement2 {
  display: flex;
  align-items: center;
}
.label9 {
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  height: 24px;
}
.listElement2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  height: 40px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.listElementParent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs);
  gap: var(--gap-11xs);
}
.multiselect {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--character-primaryinverse);
  border: 1px solid var(--colors-grey-grey-2);
  display: flex;
  justify-content: flex-start;
  font-size: var(--body-xs-13-sp-medium-size);
  color: var(--colors-grey-grey-6);
}
.inputGroup,
.multiselect {
  flex-direction: column;
  align-items: flex-start;
}
.frameParent,
.input5,
.input6,
.inputGroup {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.input6 {
  border-radius: var(--br-7xs);
  background-color: var(--character-primaryinverse);
  border: 1px solid var(--line);
  box-sizing: border-box;
  height: 40px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
  color: var(--body-text1);
}
.frameParent,
.input5 {
  flex-direction: column;
  align-items: flex-start;
  color: var(--caption);
}
.frameParent {
  padding: 0 var(--padding-5xl);
  gap: var(--gap-xl);
  color: var(--body-text1);
}
.keyboardArrowRightIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.button {
  border-radius: var(--br-7xs);
  background-color: var(--character-primaryinverse);
  border: 1px solid var(--primary);
  box-sizing: border-box;
  height: 42px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base);
  gap: var(--gap-9xs);
}
.mcU,
.spXpTheo {
  position: relative;
}
.spXpTheo {
  line-height: 12px;
  display: none;
}
.mcU {
  font-size: var(--body-s-14-sp-medium-size);
  line-height: 20px;
  color: var(--character-primaryinverse);
}
.spXpTheoParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.filter,
.ucheckParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ucheckParent {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.filter {
  border-radius: var(--br-7xs);
  background-color: var(--primary);
  box-shadow: var(--card-2);
  border: 1px solid var(--primary);
  box-sizing: border-box;
  height: 42px;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-base);
  text-align: left;
  font-size: var(--caption-10-regular-size);
  color: var(--caption);
}
.modalThmNV,
.modalfooter {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.modalfooter {
  align-self: stretch;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--bg);
  padding: var(--padding-3xs) var(--padding-5xl);
  text-align: center;
  color: var(--primary);
}
.modalThmNV {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--character-primaryinverse);
  box-shadow: var(--grey-shadows-5);
  width: 640px;
  gap: var(--gap-xl);
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--body-s-14-sp-medium-size);
  color: var(--theme-text-heading);
  font-family: var(--body-s-14-sp-medium);
}
